body {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    width: 100%;
    padding: 20px 50px;
    background-color: rgb(200, 200, 205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header__icon{
    width: 35px;
    cursor: pointer;
    display: inline-block;
}

.header__logo{
    width: 100px;
}

.banner {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position-y: 60%;
}

.banner__title {
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.banner__subtitle {
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    opacity: 0.7;
}

.products{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

.products__item {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 15px 0;
}

.products__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.products__title {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__price {
    font-weight: 300;
    font-size: 15px;
    margin: 0;
}

.cart {
    width: 500px;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 100px;
    box-shadow: -19px -1px 22px -15px rgba(0,0,0,0.30);
}

.cart__title {
    width: 100%;
    text-align: center ;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0;
    box-sizing: border-box;
}

.cart__div{
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.cart__img {
    width: 60px;
}

.cart__div:nth-child(3){
    font-weight: 500;
}

.cart__icon {
    width: 25px;
    cursor: pointer;
}

.cart__delete-icon {
    width: 100%;
    cursor: pointer;
}

@media (max-width: 820px) { /* Tablet */
    .header {
        padding: 15px;
    }

    .header__logo {
        width: 60px;
    }

    .header__icon {
        width: 30px;
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .products__img {
        width: 150px;
    }

    .cart {
        width: 400px;
        top: 80px;
    }
}

@media (max-width: 480px) { /* Mobile */

    .header {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        margin: 0;
    }

    .header__logo {
        width: 50px;
    }

    .header__icon {
        width: 30px;
    }

    .banner {
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
    }

    .banner__title {
        font-size: 18px;
    }

    .banner__subtitle {
        font-size: 16px;
    }

    .products {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .products__img {
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
    }

    .products__title, .products__price {
        padding: 10px;
    }

    .cart {
        width: 100%;
        box-shadow: none;
    }

    .cart__title {
        padding: 15px 0;
    }

    .cart__div {
        flex-direction: column;
        align-items: center;
    }

    .cart__img {
        width: 100px;
    }

    .cart__product, .cart__price {
        margin: 5px 0;
    }
}